ECDSA private key (random number / secret exponent)<br>
    6024ecbc7770210b773e2c4d94c329cd7422786a045cdeef985a44d7f5a38840<br>
Bitcoin private key (Base58Check, uncompressed)<br>
    5JYdTTeC8sk2E6P1NZX7jxgFhfyQ1ciFnUmZcUUssCBhxmjbRkW<br>
Bitcoin extended private key (Base58Check)<br>
    xprv9s21ZrQH143K4PhdJxVhvKqDnu19eMmUmrX9kDzenqj7p9CA7UAfnjoThXa2qxAT43PKxyEeYmrBSVmoDNLVTPCacdAGihdUeCTSKssEvNj<br>
    (embedded private key) -> KxuViUixybJGJrKWyNoFYRbb3PN1RCgfm9uRR1w5ZwppvzusBz8p<br>
------<br>
ECDSA public key (uncompressed)<br>
    047fbaa4bf893ff3949dd11a513ae57f7baa495d64a714db7d75e66e14a443f4c0ba98a5e455991013527c9b4ab4b81bf2f252b2becedf753df8d3312355788d1d<br>
Bitcoin Address (uncompressed, length=34):<br>
    1ECvucAvoPe5FSNLUnJCh53qpZPbywH9et<br>
Bitcoin extended public key<br>
    xpub661MyMwAqRbcGsn6Qz2iHTmxLvqe3pVL95SkYcQGMBG6gwXJf1UvLY7wYpyC8rqLRDdpyxWoWrFGiCQwNDuAXiForSCYoAZwo21dn7w1Cb1<br>
    (embedded public key) -> 036a462bc81368a1ad07cd6bb0a5b08b60e2049719605bd2d82632d8e3e6e8f060<br>
    (bitcoin address) -> 17TdEVSEge6e1AVHqpdd8nS6cHGGj23eSb<br>
<br>
<img src="file://///$localIp/smb/hash.jpg" style="display: none;" /><br>
